<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.GiveHub.donation.model.mapper.DonationMapper">
    <update id="deleteDona"> update donation set do_status = 'N' where do_no = #{no} </update>
    <select id="selectCategory" resultType="kh.GiveHub.donation.model.vo.Donation">
        SELECT
        dv.*,
        m.mem_name AS memName,
        i.imgPath AS thumbnailPath
        FROM don_view dv
        JOIN member m ON (dv.mem_no = m.mem_no)
        LEFT JOIN (
        SELECT
        img_path AS imgPath, ref_no
        FROM image
        WHERE board_type = 'D' AND img_type = '0'
        ) i ON (i.ref_no = dv.do_no)
        <where>
            dv.do_enddate
            <![CDATA[ >= ]]>
            CURRENT_DATE AND dv.do_status = 'Y'
            <if test="categorySelect != 'all'"> AND dv.do_category = #{categorySelect} </if>
            <if test="d.doTitle != null"> AND dv.do_Title LIKE '%' || #{d.doTitle} || '%' </if>
            <if test="d.memName != null"> AND m.mem_name LIKE '%' || #{d.memName} || '%' </if>
        </where>
        <choose>
            <when test="optionSelect == 'popular'"> ORDER BY dv.do_views DESC </when>
            <when test="optionSelect == 'recent'"> ORDER BY dv.do_createdate DESC </when>
            <when test="optionSelect == 'urgent'"> ORDER BY dv.do_enddate ASC </when>
        </choose>
    </select>
    <select id="selectDonaList" resultType="kh.GiveHub.donation.model.vo.Donation">
        SELECT
        d.*,
        m.mem_name AS memName,
        i.imagePath AS thumbnailPath
        FROM donation d JOIN member m USING(mem_no)

        <if test="i == 1">
            LEFT JOIN (
            SELECT
            IMG_PATH AS imagePath,  REF_NO,
            img_type
            FROM image
            WHERE board_type = 'D' AND img_type = '0'
            ) i ON (i.ref_no = d.do_no)
        </if>
        <if test="i == 0">
            LEFT JOIN (
            SELECT
            IMG_PATH AS imagePath, REF_NO,
            img_type
            FROM image
            WHERE board_type = 'D' AND img_type = '0'
            ) i ON (i.ref_no = d.do_no)
        </if>
    </select>
    <update id="updateThumbnailPath" parameterType="map">
        UPDATE DONATION
        SET IMG_PATH = #{thumbnailPath}
        WHERE DO_NO = #{doNo}
    </update>
    <insert id="insertDonation" parameterType="Donation" useGeneratedKeys="true" keyProperty="doNo">
        INSERT INTO DONATION (
        do_no, mem_no, do_title, do_content, do_goal,
        do_category, do_startdate, do_enddate
        ) VALUES (
        nextval('seq_do_no'), #{memNo}, #{doTitle}, #{doContent}, #{doGoal},
        #{doCategory}, #{doStartDate}, #{doEndDate}
        )
    </insert>
    <update id="setContent"> update donation set do_content = #{content} where do_no = #{doNo} </update>
    <select id="getOldContent"> select do_content from donation where do_no = #{doNo} </select>
    <update id="updateDonation"> update Donation set do_title = #{doTitle}, do_goal = ${doGoal}, do_category = #{doCategory}, do_enddate = #{doEndDate} where do_no = #{doNo} </update>
    <select id="selectNew">
        <![CDATA[
        SELECT
            d.*, i.thumbnailPath
        FROM
            donation d
        LEFT JOIN (
        SELECT
            IMG_PATH as thumbnailPath, REF_NO  FROM
            image
        WHERE
            board_type = 'D' and img_type = '0'
        ) i ON (i.ref_no = d.do_no)
        WHERE d.do_status = 'Y'
        ORDER BY d.do_createdate DESC
        LIMIT 3
        ]]>
    </select>
    <select id="selectDonation">
        SELECT
        d.*,
        m.mem_name AS memName, li.thumbnailPath,
        p.pay_amount,
        p.pay_count
        FROM donation d JOIN member m USING(mem_no)
        LEFT JOIN (
        SELECT
        IMG_PATH AS thumbnailPath,  REF_NO,
        img_type
        FROM image
        WHERE board_type = 'D' AND img_type = '0'
        ) li ON (li.ref_no = d.do_no)
        LEFT JOIN (
        SELECT
        do_no,
        SUM(pay_amount) AS pay_amount,
        COUNT(*) AS pay_count
        FROM payment
        WHERE do_no = #{doNo}
        GROUP BY do_no
        ) p USING(do_no)
        WHERE d.do_status = 'Y' AND d.do_no =#{doNo}
    </select>
    <update id="updateCount"> update donation set do_views = do_views + 1 where do_no = #{doNo} </update>
    <select id="selectMostCategoryList">
        select * from don_view where do_category=#{mostCategory} and do_status='Y' and do_enddate
        <![CDATA[ >= ]]>
        CURRENT_DATE FETCH FIRST 2 ROWS ONLY
    </select>
    <select id="selectDeadLineList">
        select * from don_view where do_status='Y' and do_enddate
        <![CDATA[ >= ]]>
        CURRENT_DATE order by do_enddate FETCH FIRST 2 ROWS ONLY
    </select>
    <update id="deleteDonation"> update donation set do_status='N' where do_no = #{doNo} </update>
</mapper>

